<form class="card flex justify-content-start mt-4 mb-3">
    <p-button (click)="showDialog()" icon="pi pi-user" pRipple label="Add Employee"
        styleClass="p-button-help"></p-button>
    <p-dialog header="Add Employee" [(visible)]="visible" [modal]="true" [style]="{ width: '44vw', height: '100vw'}"
        [draggable]="false" [resizable]="false" class="custom-dialog">
        <div class="form-container flex flex-column gap-4">
            <div class="flex flex-column gap-2">
                <label class="font-semibold">FirstName</label>
                <input pInputText placeholder="firstname" [(ngModel)]="firstName" class="p-inputtext-sm" />
            </div>
            <div class="flex flex-column gap-2">
                <label class="font-semibold">LastName</label>
                <input pInputText placeholder="lastname" [(ngModel)]="lastName" class="p-inputtext-sm" />
            </div>
            <div class="flex flex-column gap-2">
                <label class="font-semibold">Email</label>
                <input pInputText placeholder="email" [(ngModel)]="emailId" class="p-inputtext-sm" />
            </div>
            <div class="flex flex-row gap-7">
                <div class="flex flex-column gap-2">
                    <label class="font-semibold">Date-Of-Joining</label>
                    <p-calendar [(ngModel)]="date" styleClass="w-26rem" dateFormat="dd/mm/yy" appendTo="p-dialog"
                        class="p-inputtext-sm" placeholder="dd/mm/yy"></p-calendar>
                </div>
                <div class="flex flex-column gap-2">
                    <label class="font-semibold">ClientName</label>
                    <p-chips [(ngModel)]="clientName" placeholder="clientName"></p-chips>
                </div>
            </div>
            <div class="flex flex-column gap-2">
                <label class="font-semibold">Team</label>
                <input pInputText placeholder="team" [(ngModel)]="teamName" class="p-inputtext-sm" />
            </div>
            <div class="flex flex-row gap-7">
                <div class="flex flex-column gap-2">
                    <label class="font-semibold">Phone</label>
                    <p-inputMask mask="999-999-9999" [(ngModel)]="phoneNumber" styleClass="w-26rem"
                        placeholder="999-999-9999" class="p-inputtext-sm"></p-inputMask>
                </div>
                <div class="flex flex-column gap-2">
                    <label class="font-semibold">Status</label>
                    <p-dropdown [options]="status" [(ngModel)]="selectedStatus" optionLabel="contract"
                        placeholder="Select status"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="flex flex-column gap-2 mb-4 mt-3">
            <label class="font-semibold">CompanyName</label>
            <input pInputText placeholder="companyname" [(ngModel)]="companyName" class="p-inputtext-sm" />
        </div>
        <div class="flex flex-column gap-2">
            <label class="font-semibold">CompanyURL</label>
            <input pInputText placeholder="companyURL" [(ngModel)]="companyURL" class="p-inputtext-sm" />
        </div>
        <br>
        <br>
        <div class="flex flex-column gap-2">
            <label class="font-semibold">PostalCode</label>
            <p-inputMask [(ngModel)]="postalCode" mask="999999" placeholder="999999"
                class="p-inputtext-sm"></p-inputMask>
        </div>
        <p-divider type="solid"></p-divider>
        <div class="flex flex-column justify-content-between">
            <div class="flex justify-content-between">
                <p-button label="Submit" styleClass="p-button-success"></p-button>
                <p-button label="Cancel" (click)="showDialog()" styleClass="p-button-danger"></p-button>
            </div>
        </div>
    </p-dialog>
</form>