<h1 class="text-center m1-3 mb-3">Employee Control Page</h1>

<ng-container>
    <app-add-employee></app-add-employee>
    <p-table [value]="employees" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr class="tab-heab">
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Team</th>
                <th>DateOfJoining</th>
                <th>Status</th>
                <th>Company</th>
                <th>Client</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee let-rowIndex="rowIndex">
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.firstname }}</td>
                <td>{{ employee.lastname }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.team }}</td>
                <td>{{ employee.dateOfJoining }}</td>
                <td><span class="mr-2 p-tag p-component p-tag-success p-tag-rounded">{{ employee.status.contract }}</span></td>
                <td>
                    {{ employee.company.company_name }}
                </td>
                <td>
                    <ng-container *ngFor="let client of employee.client">
                        {{ client.client_name }}
                        <br>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-container>
